<div *ngIf="apiLoaded | async">
  <google-map 
    [width]="width"
    [height]="height"
    [options]="options"
    (mapClick)="moveMap($event)"
    (mapMousemove)="move($event)" >

    <ng-container *ngFor="let markerPosition of markerPositions; let i = index;">
      <map-marker #marker="mapMarker"
        [position]="markerPosition"
        [options]="i == 0 ? userMarkerOptions : markerOptions"
        (mapClick)="openInfoWindow(marker, infoWindow)" >

        <div 
          [hidden]="true" 
          [id]="markerPosition.item?.Rotulo + '-' + markerPosition.item?.Direccion" 
          (click)="openFuelStationInfoWindow(marker, infoWindow)" >
        </div>

        <map-info-window #infoWindow="mapInfoWindow">
          <ng-container *ngIf="i == 0">
            <div [ngStyle]="{
              'height': resolutionService.size == constantsService.ScoResolutionConstants.WEB ? '20px' : '25px',
              'width': resolutionService.size == constantsService.ScoResolutionConstants.WEB ? '250px' : '100%',
              'color': '#000',
              'text-align' : 'center'
            }">
              <span class="font-weight-bold">{{ 'label.google-maps.current.location' | scoTranslate }}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="i > 0">
            <!-- <div [ngStyle]="{
              'width': resolutionService.size == constantsService.ScoResolutionConstants.WEB ? '450px' : '100%', 
              'height': resolutionService.size == constantsService.ScoResolutionConstants.WEB ? '175px' : '200px',
              'color': '#000'
            }"> -->
            <div [ngStyle]="{
              'width': resolutionService.size == constantsService.ScoResolutionConstants.WEB ? '100%' : '100%', 
              'height': resolutionService.size == constantsService.ScoResolutionConstants.WEB ? '100%' : '100%',
              'color': '#000'
            }">
              <p [ngClass]="{
                'text-center': resolutionService.size == constantsService.ScoResolutionConstants.WEB,
                'text-left': resolutionService.size != constantsService.ScoResolutionConstants.WEB,
                'font-weight-bold': true
              }">
                {{markerPosition.item?.Rotulo + " - " + markerPosition.item.Municipio + " (" + formatKilometersValue(markerPosition.item?.kilometers_distance) + " KM)"}}
              </p>
              <p [ngClass]="{
                'text-center': resolutionService.size == constantsService.ScoResolutionConstants.WEB,
                'text-left': resolutionService.size != constantsService.ScoResolutionConstants.WEB
              }">
                <span class="font-weight-bold" *ngIf="resolutionService.size == constantsService.ScoResolutionConstants.WEB">
                  {{'label.google-maps.info.address' | scoTranslate}}: 
                </span>
                <span class="font-weight-bold" *ngIf="resolutionService.size != constantsService.ScoResolutionConstants.WEB">
                  {{'label.google-maps.info.address' | scoTranslate}}<br>
                </span>
                {{markerPosition.item.Direccion}}
              </p>
              <p [ngClass]="{
                'text-center': resolutionService.size == constantsService.ScoResolutionConstants.WEB,
                'text-left': resolutionService.size != constantsService.ScoResolutionConstants.WEB
              }">
                <span class="font-weight-bold" *ngIf="resolutionService.size == constantsService.ScoResolutionConstants.WEB">
                  {{'label.google-maps.info.timeTable' | scoTranslate}}: 
                </span>
                <span class="font-weight-bold" *ngIf="resolutionService.size != constantsService.ScoResolutionConstants.WEB">
                  {{'label.google-maps.info.timeTable' | scoTranslate}}<br>
                </span>
                {{markerPosition.item.Horario}}
              </p>
              <table class="table table-sm" *ngIf="resolutionService.size == constantsService.ScoResolutionConstants.WEB">
                <thead>
                  <tr>
                    <th scope="col" *ngIf="markerPosition.item.Precio_Gasoleo_A">{{'label.google-maps.info.gasoleo.a' | scoTranslate}}</th>
                    <th scope="col" *ngIf="markerPosition.item.Precio_Gasoleo_Premium">{{'label.google-maps.info.gasoleo.a.premium' | scoTranslate}}</th>
                    <th scope="col" *ngIf="markerPosition.item.Precio_Gasolina_95_E10">{{'label.google-maps.info.gasolina.95.e10' | scoTranslate}}</th>
                    <th scope="col" *ngIf="markerPosition.item.Precio_Gasolina_95_E5">{{'label.google-maps.info.gasolina.95.e5' | scoTranslate}}</th>
                    <th scope="col" *ngIf="markerPosition.item.Precio_Gasolina_95_E5_Premium">{{'label.google-maps.info.gasolina.95.e5.premium' | scoTranslate}}</th>
                    <th scope="col" *ngIf="markerPosition.item.Precio_Gasolina_98_E10">{{'label.google-maps.info.gasolina.98.e10' | scoTranslate}}</th>
                    <th scope="col" *ngIf="markerPosition.item.Precio_Gasolina_98_E5">{{'label.google-maps.info.gasolina.98.e5' | scoTranslate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngIf="markerPosition.item.Precio_Gasoleo_A">
                      {{markerPosition.item.Precio_Gasoleo_A ? markerPosition.item.Precio_Gasoleo_A : '--'}}
                    </td>
                    <td *ngIf="markerPosition.item.Precio_Gasoleo_Premium">
                      {{markerPosition.item.Precio_Gasoleo_Premium ? markerPosition.item.Precio_Gasoleo_Premium : '--'}}
                    </td>
                    <td *ngIf="markerPosition.item.Precio_Gasolina_95_E10">
                      {{markerPosition.item.Precio_Gasolina_95_E10 ? markerPosition.item.Precio_Gasolina_95_E10 : '--'}}
                    </td>
                    <td *ngIf="markerPosition.item.Precio_Gasolina_95_E5">
                      {{markerPosition.item.Precio_Gasolina_95_E5 ? markerPosition.item.Precio_Gasolina_95_E5 : '--'}}
                    </td>
                    <td *ngIf="markerPosition.item.Precio_Gasolina_95_E5_Premium">
                      {{markerPosition.item.Precio_Gasolina_95_E5_Premium ? markerPosition.item.Precio_Gasolina_95_E5_Premium : '--'}}
                    </td>
                    <td *ngIf="markerPosition.item.Precio_Gasolina_98_E10">
                      {{markerPosition.item.Precio_Gasolina_98_E10 ? markerPosition.item.Precio_Gasolina_98_E10 : '--'}}
                    </td>
                    <td *ngIf="markerPosition.item.Precio_Gasolina_98_E5">
                      {{markerPosition.item.Precio_Gasolina_98_E5 ? markerPosition.item.Precio_Gasolina_98_E5 : '--'}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <ul class="info-list" *ngIf="resolutionService.size != constantsService.ScoResolutionConstants.WEB">
                <li *ngIf="markerPosition.item.Precio_Gasoleo_A">
                  <span class="font-weight-bold">{{'label.google-maps.info.gasoleo.a' | scoTranslate}}: </span>
                  <span>{{markerPosition.item.Precio_Gasoleo_A ? markerPosition.item.Precio_Gasoleo_A : '--'}}</span>
                </li>
                <li *ngIf="markerPosition.item.Precio_Gasoleo_Premium">
                  <span class="font-weight-bold">{{'label.google-maps.info.gasoleo.a.premium' | scoTranslate}}: </span>
                  <span>{{markerPosition.item.Precio_Gasoleo_Premium ? markerPosition.item.Precio_Gasoleo_Premium : '--'}}</span>
                </li>
                <li *ngIf="markerPosition.item.Precio_Gasolina_95_E10">
                  <span class="font-weight-bold">{{'label.google-maps.info.gasolina.95.e10' | scoTranslate}}: </span>
                  <span>{{markerPosition.item.Precio_Gasolina_95_E10 ? markerPosition.item.Precio_Gasolina_95_E10 : '--'}}</span>
              </li>
                <li *ngIf="markerPosition.item.Precio_Gasolina_95_E5">
                  <span class="font-weight-bold">{{'label.google-maps.info.gasolina.95.e5' | scoTranslate}}: </span>
                  <span>{{markerPosition.item.Precio_Gasolina_95_E5 ? markerPosition.item.Precio_Gasolina_95_E5 : '--'}}</span>
                </li>
                <li *ngIf="markerPosition.item.Precio_Gasolina_95_E5_Premium">
                  <span class="font-weight-bold">{{'label.google-maps.info.gasolina.95.e5.premium' | scoTranslate}}: </span>
                  <span>{{markerPosition.item.Precio_Gasolina_95_E5_Premium ? markerPosition.item.Precio_Gasolina_95_E5_Premium : '--'}}</span>
                </li>
                <li *ngIf="markerPosition.item.Precio_Gasolina_98_E10">
                  <span class="font-weight-bold">{{'label.google-maps.info.gasolina.98.e10' | scoTranslate}}: </span>
                  <span>{{markerPosition.item.Precio_Gasolina_98_E10 ? markerPosition.item.Precio_Gasolina_98_E10 : '--'}}</span>
                </li>
                <li *ngIf="markerPosition.item.Precio_Gasolina_98_E5">
                  <span class="font-weight-bold">{{'label.google-maps.info.gasolina.98.e5' | scoTranslate}}: </span>
                  <span>{{markerPosition.item.Precio_Gasolina_98_E5 ? markerPosition.item.Precio_Gasolina_98_E5 : '--'}}</span>
                </li>
              </ul>
            </div>
          </ng-container>
        </map-info-window>
      </map-marker>
    </ng-container>
 
  </google-map>
</div>